div#reas_prog {
  margin-top: 300px;
  margin-bottom: 200px;

  div.popup_prog {
    display: none;

    &.active {
      @extend %popup_view;
    }

    img.cross_prog {
      cursor: pointer;
    }

    div.rea_content {
      display: none;

      &.active {
        @extend %rea-content-view;
      }

      div.infos {
        @extend %div-infos;

        h4 {
          @extend %h4;
        }

        p.subtitle {
          @extend %subtitle;

          span {
            @extend %year;
          }
        }

        span.instructions {
          font-family: $font-semi-bold;
        }

        img.triangle_popup {
          position: absolute;
          bottom: -350px;
        }
      }

      div.images {
        @extend %div-images;
      }
    }
  }

  h2 {
    @extend %titles;
  }

  &::after {
    @extend %after-rectangle;

    margin-top: -600px;
    width: 900px;
    height: 50px;
    margin-left: 70px;
  }

  .grid_container {
    @extend %grid;

    div.rea_square_prog {
      @extend %rea_square;

      h3 {
        @extend %h3;
      }

      div.filter {
        @extend %filter;
      }
    }
  }
}

div#reas_art {
  div.popup_art {
    display: none;

    &.active {
      @extend %popup_view;
    }

    img.cross_art {
      cursor: pointer;
    }

    div.rea_content {
      display: none;

      &.active {
        @extend %rea-content-view;
      }

      div.infos {
        @extend %div-infos;

        h4 {
          @extend %h4;
        }

        p.subtitle {
          @extend %subtitle;

          span {
            @extend %year;
          }
        }

        span.instructions {
          font-family: $font-semi-bold;
        }

        a {
          color: black;
          font-family: $font-bold;
          text-decoration: none;
        }

        img.triangle_popup {
          position: absolute;
          bottom: -350px;
        }
      }

      div.images {
        @extend %div-images;
      }
    }
  }

  h2 {
    @extend %titles;
  }

  &::after {
    @extend %after-rectangle;

    margin-top: -600px;
    width: 900px;
    height: 50px;
    margin-left: 70px;
  }

  .grid_container {
    @extend %grid;

    div.rea_square_art {
      @extend %rea_square;

      h3 {
        @extend %h3;
      }

      div.filter {
        @extend %filter;
      }
    }
  }
}
