div#reas_prog {
  margin-top: 300px;
  margin-bottom: 200px;

  div.popup_prog {
    display: none;

    &.active {
      @extend %popup_view;
    }

    div.rea_content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  h2 {
    @extend %titles;
  }

  &::after {
    @extend %after-rectangle;

    margin-top: -600px;
    width: 900px;
    height: 50px;
    margin-left: 70px;
    position: absolute;
  }

  .grid_container {
    @extend %grid;

    div.rea_square_prog {
      @extend %rea_square;

      h3 {
        @extend %h3;
      }

      div.filter {
        @extend %filter;
      }
    }
  }
}

div#reas_art {
  div.popup_art {
    display: none;

    &.active {
      @extend %popup_view;
    }

    div.rea_content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  h2 {
    @extend %titles;
  }

  &::after {
    @extend %after-rectangle;

    margin-top: -600px;
    width: 900px;
    height: 50px;
    margin-left: 70px;
    position: absolute;
  }

  .grid_container {
    @extend %grid;

    div.rea_square_art {
      @extend %rea_square;

      h3 {
        @extend %h3;
      }

      div.filter {
        @extend %filter;
      }
    }
  }
}
