
header {
  height: 100vh;

  .nav {
    display: flex;
    justify-content: right;
    font-family: $font-regular;
  }

  .presentation {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 100px;
    }

    p {
      font-size: 20px;
    }
  }
}
