
header {
  height: 100vh;

  .nav {
    display: flex;
    justify-content: right;
    font-family: $font-regular;
  }

  .presentation {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .logo {
      margin-bottom: 100px;
    }

    p {
      font-size: 20px;
      z-index: 3;
    }

    &::after {
      content: "";
      display: block;
      width: 130px;
      height: 20px;
      background: linear-gradient(0.25turn, $pink, $blue);
      opacity: 0.5;
      margin-top: -75px;
      margin-left: 140px;
      z-index: 1;
    }

    img:not(.logo) {
      position: absolute;

      .triangle1 {
        left: 500px;
      }
    }
  }
}
