
header {
  height: 100vh;

  .nav {
    display: flex;
    justify-content: flex-end; //A VERIFIER
    font-family: $font-regular;
  }

  .presentation {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .logo {
      margin-bottom: 100px;
    }

    p {
      font-size: 20px;
      z-index: 3;
    }

    &::after {
      @extend %after-rectangle;
    }

    img:not(.logo) {
      position: absolute;
    }

    img.triangle1 {
      left: -200px;
    }

    img.triangle2 {
      right: -100px;
      top: -100px;
    }

    img.ligne1 {
      top: 380px;
      transform: translateX(15%);
    }
  }
}
