body {
  background-color: $background-color;
  color: $font-color;
  font-family: $font-main;
  padding: 70px 0;

  .container {
    max-width: 1300px;

    main.main {
      position: relative;
    }
  }

  nav {
    a {
      color: $font-color;
      margin-left: 100px;
      transition: text-shadow 0.3s;

      &:hover {
        @extend %a-hover;
      }
    }
  }
}
